body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

#options {
    display: flex;
    justify-content: center;
}

.option {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #eee;
}

#result {
    margin-top: 30px;
}
